body{
    background:gray;
    font-family: 'Times New Roman', Times, serif;
}
.assignment{
    background: blue;
    display:flex;
    padding:10px;
    margin:10px;
}
.assignment img {
    width:200px;
    padding:10px;

}
h1{
    color:yellow;
    text-align: center;
}
a:link{
    color:green;
}
a:visited{
    color:yellow;
}